h1,
h2 {
	font-family: $font-bold;
	font-size: 30px;
	line-height: 34px;
	margin-bottom: 20px;
}

h1 {

	@include bp(xs) {	
		font-size: 40px;
		line-height: 46px;
	}

	@include bp(md) {	
		font-size: 70px;
		line-height: 78px;
		margin-bottom: 40px;
	}
}

h2 {

	@include bp(xs) {	
		font-size: 40px;
		line-height: 38px;
	}
	
	@include bp(md) {	
		font-size: 50px;
		line-height: 51px;
		margin-bottom: 30px;
	}
}

h3 {
	font-size: 20px;
	line-height: 24px;
	font-family: $font-bold;
	
	@include bp(xs) {
		font-size: 22px;
		line-height: 28px;
	}

	@include bp(md) {
		font-size: 30px;
		line-height: 32px;
	}
}

h4 {
	font-family: $font-bold;
	font-size: 30px;
	line-height: 34px;
	margin-bottom: 20px;

	@include bp(xs) {
		font-size: 36px;
		line-height: 38px;
	}

	@include bp(md) {
		font-size: 40px;
		line-height: 42px;
	}
}

p {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 20px;

	@include bp(xs) {
		font-size: 17px;
		line-height: 25px;
	}

	@include bp(md) {
		font-size: 18px;
		line-height: 26px;
		margin-bottom: 40px;
	}
	
}