button,
.button {
	display: inline-block;
	cursor: pointer;
	background: none;
	font-family: $font-bold;
	position: relative;
	padding: 0;
	margin: 20px 0;
	color: $green;
	width: 100%;
	@extend h3;
	
	@include bp(xs) {
		width: auto;
	}



	div {
		padding: 16px 10px 10px;
		font-weight: bold;
		display: block;
		background: $pink;
		position: relative;
		transition: all .2s ease-in-out;
		
		@include bp(xs) {
			min-width: 220px;
		}

		@include bp(md) {
			padding: 16px 10px 10px;
			min-width: 280px;
		}

	}

	&:before {
		content: "";
		position: absolute;
		bottom: -4px;
		width: 100%;
		height: 100%;
		background: darken($pink, 40);
		left: 0;
		transition: all .2s ease-in-out;
	}
	
	div,
	&:before {
		border-radius: 12px;
	}

	&:hover {
		div {
			background: lighten($pink, 5);
			transform: translateY(2px);
		}
	}

	&:focus,
	&:active {
		outline: none;
	}

	&.-secondary {
		
		div {
			background: $green-light;
		}
		&:before {
			background: darken($green-light, 40);
		}
	}

}



.back-btn {
	font-size: 14px;
	line-height: 17px;
	display: none;
	margin-top: 20px;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	display: inline-block;

	opacity: 0;
	transform: translate(0, 100%);
	transition: opacity .5s ease-in-out,
				transform .5s ease-in-out;		

	@include bp(xs) {
		margin-top: 30px;
		font-size: 20px;
		line-height: 24px;
	}

	@include bp(md) {
		margin-top: 45px;
	}


	svg,
	img {
		transform: translateY(-2px);
		vertical-align: middle;
		width: 10px;
		height: 15px;
		margin-right: 10px;
		display: inline-block;
		transition: transform .1s ease-in-out;	
	}
	path {
		fill: $pink;
	}

	&:hover {
		svg,
		img {
			transform: translate(-5px, -2px);
		}
	}

	&.is-visible {
		opacity: 1;
		transform: translate(0);
	}
}
