// FORMS
// =======================
input[type="radio"] {
	display: none;

	&:checked + label {
		background: $green;	
		color: $white;
	}

}

label {
	text-align: left;
	height: 100%;
	width: 100%;
	min-width: 250px;
	font-family: $font-bold;
	cursor: pointer;
	padding: 14px 40px 9px 47px;
	background: $white;
	border: 2px solid $green;
	border-radius: 10px;
	display: block;
	margin: 0 10px 10px 0;
	@extend h3;
	transition: all .2s ease-in-out;
	position: relative;

	@include bp('xss', max) {
		font-size: 18px;
		width: 100%;
		min-width: 100%;
	}



	@include bp(xs) {
		width: auto;
	}

	&:before,
	&:after  {
		content: "";
		position: absolute;
		top: 50%;
		border-radius: 50%;
	}
	
	&:before {
		width: 28px;
		height: 28px;
		border: 2px solid $green;
		transform: translate(calc(-100% - 8px), -50%);
		transition: border-color .2s ease-in-out;
	}

	&:after {
		width: 10px;
		height: 10px; 
		background: $pink;
		transform: translate(0, -50%) scale(0);
		transition: transform .35s ease-in-out;
		left: 20px;
	}



	&:hover {
		background: $green;
		color: $white;

		&:before {
			border-color: $white;
		}

		&:after {
			transform: translate(0, -50%) scale(1);
		}
	}
}