#progress {
	pointer-events: none;
	transform: rotate(-90deg);
	margin: 0 auto 20px;
	opacity: 0;
	transition: opacity .5s ease-in-out;

	&.is-visible {
		opacity: 1;
	}
	
	@include bp(md) {
		margin-bottom: 60px;
	}

	&,
	svg {
		width: 45px;
		height: 45px;

		@include bp(xs) {
			width: 55px;
			height: 55px;
		}

		@include bp(md) {
			width: 78px;
			height: 78px;
		}
	}
}

#progress__circle {
	stroke-dasharray: 282;
	stroke-dashoffset: 282;
	transition: all .2s cubic-bezier(.17,.67,.83,.67);
}