.charts {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    max-width: 992px;
    @include transition(1s, (opacity, transform));

    @media (min-width: $tablet) {
        top: 50%;
    }

    &.-coolants {
        @media (max-height: $mobile) {
            top: 35%;
        }
    }

    &.-mobile {
        @media (max-width: $mobile) {
            bottom: 15%;
            top: auto; 
            transform: translate(-50%, 0);
        }
    }

    &.-resp {
        @media (max-width: $mobile) {
            top: 50%;
            bottom: auto; 
            transform: translate(-50%, -50%);
        }
    }

    &.-resp-coolants {
        @media (max-width: $mobile) {
            top: auto;
            bottom: 50%;
            transform: translate(-50%, 0);

        }
    }

    &.is-hidden {
        transition-duration: .25s;
        opacity: 0;
        transform: translate(-50%, -50%) scale(.75);
    }

    .buttons {
        width: 100%;
        top: 8rem;
        position: relative;
        display: flex;
        justify-content: center;
    }

    &__wrapper {
        position: relative;
        @include transition(1s, opacity);
        z-index: 1;
        height: 100%;
        width: 100%;
        &.is-hidden {
            opacity: 0;
        }
    }

    &.-xs-bottom {
        @media (max-height: $mobile) and (max-width: $phablet) {
            top: auto;
            bottom: 0;
            transform: translate(-50%, -25%);
        }
    }
}

.chart {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    &__content {
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);

       ._title {
           font-size: .75rem;
       }
       ._value {
           font-size: 3rem;
           font-family: $headerFont;
           overflow: hidden;
           @media (max-width: $desktop) {
               font-size: 2rem;
           }

           ._text {
               position: relative;
               @include transition(.2s, transform);
               &.is-flipped {
                   transform: translate(0, -100%);
               }
               span {
                   display: block;
                   &:nth-child(2) {
                       position: absolute;
                       top: 100%;
                       left: 50%; 
                       transform: translate(-50%, 0);
                   }
               }
           }

           ._polyline {
               width: 35px;
               position: relative;
               left: 50%;
               transform: translate(-50%);

               @media (max-width: $mobile) {
                width: 25px;
               }
               svg {
                   width: 100%;
               }
               polyline {
                   fill: none;
                   stroke: $white;
                   stroke-miterlimit: 10;

                   &.-first,
                   &.-second {
                     opacity: 0; 
                     @include transition(.5s, opacity);
                   }

                   &.-first {
                       transition-delay: .5s;
                   }
               }

               &.is-flipped {
                    polyline {
                        &.-first,
                        &.-second {
                            opacity: 1;  
                            transition-delay: 0s;
                        }

                        &.-second {
                            transition-delay: .5s;
                        }
                    }   
               }
           }
       }
       ._icon {
           line-height: 0;

           svg {
                width: 2rem;
                height: 2rem;
                margin-top: .5rem;
           }

           &--range {
               svg {
                   position: relative;
                   width: 3rem;
                   height: 2.5rem;
                   margin-top: 0;
                   top: 1.5rem;
               }
           }

           &--conductivity {
                svg {
                    position: relative;
                    height: 3rem;
                    width: 1.5rem;
                    margin-top: 0;
                    top: 1.5rem;
                }
            }
       }
    }

    ._icon {
        position: absolute;
        top: 95%;
        left: 50%;
        transform: translate(-50%, -50%);

        svg {
            width: 100%;
            &:first-child {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                filter: blur(3px);
            }
        }

        &.-lightning {
            width: 20px;

            &.-sm {
                width: 16px;
                @media (max-height: $mobile), (max-width: $mobile) {
                    width: 10px;
                }
            }
        }

        &.-map {
            width: 40px;
        }

        &.-temp {
            width: 30px;
            pointer-events: none;
            
            @media (min-width: $tablet) {
                width: 35px;
            }
        }

        &.-waves {
            width: 20px;
            &.-sm {
                @media (max-height: $mobile), (max-width: $mobile) {
                    width: 15px;
                }
            }
        }

        polygon {
            fill: none;
            stroke: $white;
            stroke-width: 2px;
        }

        path {
            fill: $white;
        }
    }

    &__arc {
        width: 150px;
        position: relative;

        svg {
            // &:first-child {
            //     position: absolute;
            //     top: 0;
            //     left: 0;
            //     filter: blur(5px);
            //     animation: gradientPulse 2.5s infinite;
            // }
        }

        &:after {
            content: "";
            width: 4px;
            height: 4px;
            position: absolute;
            border-radius: 50%;
            bottom: 21px;
            left: 48px;
            background: $blue--dark;
            @media (max-width: $desktop) {
                bottom: 13px;
                left: 28px;
            }
        }

        .arc {
            overflow: visible;
        }

        path {
            transition: stroke-dashoffset 1s ease-in-out;
        }
    }

    &__controls {
        display: flex;
        position: absolute;
        align-items: center;
        left: 50%;
        transform: translate(-50%);
        bottom: 2rem;
        top: auto;

        & > div {
            margin: 0 0.5rem;
        }

        // @media (min-width: $tablet) {
        //     bottom: 2rem;
        //     top: auto;
        // }

        &.-chart {
            position: absolute;
            bottom: 0;
            top: 85%;
            left: 50%;
            transform: translate(-50%);

            @media (max-width: $phablet), (max-height: $mobile) {
            //     position: fixed;
                   top: 110%;
            //     transform: translate(-50%, -50%);
            }

            > div:first-child {
                .icon {
                    margin-right: .35rem;
                }
            }

            .icon {
                width: 32px;
                height: 32px;
                color: $white;

                &:hover .gradient__line {
                    border-color: $gr--blue-dark;

                    &:after {
                        border-color: $gr--blue-dark;
                    }
                }

                &:active .gradient__line {
                    border-color: $white;

                    &:after {
                        border-color: $white;
                    }
                }
            }
        }

        ._value {
            color: $white;
            min-width: 65px;
            text-align: center;
            margin: 0 .5rem;
            font-size: 2.25rem;
            font-family: $headerFont;
            span {
                display: inline-block;
                font-size: 1rem;
                transform: translate(0, -14px);
            }
        }
    }

}

// @keyframes gradientPulse {
//     0% {
//         opacity: .5;
//     }
//     50% {
//         opacity: 1;
//     }
//     100% {
//         opacity: .5;
//     }
// }

.CoolantTempetature,
.TransmissionWet {
    .chart {
        &__content {
          width: 100%;
          padding: 0 1rem;
    
          ._title {
              font-size: .9rem;
          }
          sup {
            font-size: .5em;
          }
        }
        &__arc {
            width: 210px;
            height: 210px;

            @media (max-width: $desktop) {
                width: 130px;
                height: 130px;
            }
        }
      }
}

.CoolantTempetature {
    .chart.-green {
        .chart__content {
            top: 45%;
        }
    }

    .buttons.-mobile-hidden {
        @media (max-height: $mobile) {
            display: none;
        }
    }

    .buttons.-continue-resp {
        @media (max-height: $mobile) {
            display: block;
        }
    }
}

._chart-hint {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $white;
    width: 35%;
    max-width: 300px;
    text-align: center;
    @media (max-width: $mobile) {
        width: 90%;
        top: 60%;
        transform: translate(-50%, 0);
    }
    @media (max-height: $mobile) {
        font-size: .8rem;
        line-height: 1rem;
    }
    ._hint {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        visibility: hidden;
        width: 100%;
        @include transition(1s);
        @media (max-width: $mobile) {
            transform: translate(-50%, 0);
        }

        &.is-active {
            opacity: 1;
            visibility: visible;
            transition-delay: .5s;
        }
    }
}


.chart__battery {
    width: 100%;
    height: 100%;
    border: 1px solid $white;
    border-radius: 50%;
    div {
        border-radius: 50%;
        width: 90%;
        height: 90%;
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        span {
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            
            transform-origin: bottom center;
            background: linear-gradient(to top, rgba($gr--blue-light, 1) 0%, rgba($gr--blue-dark, 1) 100%);
        }
    }
}