.grease__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform .35s ease-in-out;
    ._video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include transition(.35s, transform);
        transition-timing-function: linear;
        
        &:after {
            z-index: 1;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba($primary-bg, .8);
            opacity: 0;
            @include transition(.35s, opacity);
        }
    }
    &.is-active {
        // transition-duration: .35s;  
        ._video {
            transform: scale(2);
            &:after {
                opacity: 1;
            }
        }
        .icon {
            &:hover {
                .gradient__line {
                    border-color: transparent;
                }
                .gradient__bg {
                    opacity: 1;
                }
            }
        }
    }
}

.grease__popup__wrapper {
    position: absolute;
    &.is-active {
        z-index: 1;
    }
    &.is-hidden {
        .icon {
            opacity: 0;
            pointer-events: none;
        }
    }
}

.grease__popup {
    position: absolute;
    left: calc(50% - 125px);
    top: 0;
    width: 70vw;
    max-width: 725px;
    display: flex;
    color: $white;
    opacity: 0;
    @include transition(1s, opacity);
    
    @media (max-width: $desktop) {
        left: calc(50% - 75px);
    }

    @media (max-width: $mobile) {
        left: 50%;
        transform: translate(-50%);
        flex-direction: column;
        text-align: center;
        align-items: center;
        top: 100%;
    }

    &.is-animated {
        opacity: 1;
    }
    ._img {
        pointer-events: none;
        flex: 1 0 auto;
        width: 150px;
        height: 150px;
        // overflow: hidden;
        border-radius: 50%;
        position: relative;
        margin-right: 2rem;

        @media (min-width: $desktop) {
            width: 300px;
            height: 300px;
        }
        @media (max-width: $desktop), (max-height: $mobile) {
            margin-top: 55px;
        }
        
        @media (max-width: $mobile) {
            margin: 0 0 2rem 0;
        }
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 150%;
            transform: translate(-50%, -50%);
            &:nth-child(1) {
                width: 175%;
                animation: imgGlow 3s ease-in-out infinite;
                filter: invert(50%) sepia(80%) saturate(3400%) hue-rotate(175deg) brightness(75%) contrast(80%) blur(20px);
            }
        }


       
    }

    ._content {
        // align-self: center;
        ._title {
            @extend h2;
            margin-top: 0;
            margin-bottom: 1rem;
        }
        p {
            line-height: 1.5rem;

            @media (max-width: $mobile) {
                line-height: 1rem;
            }
        }
    }
}

.grease__leave {
    @include transition(.5s, opacity);
    &.is-leave {
        opacity: 0;
    }
}

@keyframes imgGlow {
    0%{ opacity: 1 }
    50% { opacity: .5 }
    100% { opacity: 1 }
}