.menu {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100%;
}

.menu__list {
    @extend %ul--reset;
    position: absolute;
    bottom: 4rem;
    left: 2.5rem;
    z-index: 2;
    @media (max-width: $desktop) {
        bottom: 1rem;
        left: 1rem;
    }

    @media (orientation: portrait) {
        text-align: center;
        bottom: calc(100%/7);
        left: 50%;
        transform: translate(-50%, 0);
    }

    &.-lg {
        font-size: 1.25rem;
        @media(max-width: $mobile) {
            font-size: 1rem;
        }
        .button.-sm {
            font-size: 1rem;
            @media(max-width: $mobile) {
                font-size: .8rem;
            }
        }
    }

    .button svg {
        @media (min-width: $desktop) {
            height: 20px;
        }
        @media (min-width: 1440px) {
            height: 25px;
        }
    }
}

.menu__item {
    cursor: pointer;
    margin-top: 0.5rem;
    transform: translate(0, 10px);
    opacity: 0;
    visibility: hidden;
    white-space: nowrap;
    @include transition(.5s, (opacity, visibility, transform));
    &.is-visible {
        opacity: 1;
        visibility: visible;    
        transform: translate(0);
    }
    @media (min-width: $tablet) {
        font-size: 1.75rem;
    }
    @media (min-width: 1440px) {
        font-size: 2.25rem;
    }
}

.menu__spots {
    visibility: hidden;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;

    @media (orientation: portrait) {
        width: 100%;
        height: calc(100%*0.57);
    }

    .icon {
        transition: all .25s ease-in-out;
        transform: translate(-50%, -50%) scale(.75);
    }

    &.is-active {
        visibility: visible;
        opacity: 1;

        .icon {
            transform: translate(-50%, -50%) scale(1);
        }
    }
}

.menu__videos__wrapper {
    @include transition(1s, opacity);
    &.is-hidden {
        opacity: 0;
    }
}

.menu__video {
    opacity: 0;
    visibility: hidden;
    @include transition(.5s, (opacity, visibility));

    &.is-active {
        visibility: visible;
        opacity: 1;
    }
}

.menu__spots__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    @include transition(1s, opacity);
    &.is-hidden {
        opacity: 0;
    }

}

.menu__spot {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid white;
    background: rgba(white, .5);
    cursor: pointer;
    span {
        display: block;
        visibility: hidden;
        position: absolute;
        top: 50%;
        color: red;
        left: 100%;
        transform: translate(0, -50%);
    }

    &:hover {
        span {
            visibility: visible;
        }
    }
}

.menu__toggle {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 4 !important;
    @media (max-width: $desktop) {
        top: 1rem;
        right: 1rem;
    }
}

.menu__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($primary-bg, .9);
    visibility: hidden;
    opacity: 0;
    z-index: 3;
    pointer-events: none;
    transition: opacity .2s ease-in-out, 
                visibility .2s ease-in-out;

    &.is-active {
        pointer-events: auto;
        opacity: 1;
        visibility: visible;
    }
    .menu__list {
        top: 50%;
        left: 50%;
        bottom: auto;
        transform: translate(-50%, -50%);
    }

    .menu__close {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.menu__hotspots  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // height: 100%;
    height: 100%;
    z-index: 1;
    @include transition(1s, opacity);

    &.is-hidden {
        opacity: 0;
    }

    @media (orientation: portrait) {
        display: none
    }

    @media (max-height: $phablet) {
        display: none;
    }
}

.menu__hotspot {
    position: absolute;
}