.menu__transmission__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
    max-width: 992px;
    z-index: 1;
    @include transition(1s, (opacity, transform));

    @media (max-height: $phablet) {
        top: calc(50% - 2rem);
    }

    &.is-hidden {
        transition-duration: .25s;
        opacity: 0;
        pointer-events: none;
        transform: translate(-50%, -50%) scale(.75);
    }

    // &.-resp {
    //     @media (max-width: $mobile) {
    //         height: calc(100% - 5rem);
    //         top: auto; 
    //         bottom: 7rem;
    //         transform: translate(-50%, 0);
    //     }

    //     > h2 {
    //         @media (max-width: $mobile) {
    //             position: absolute;
    //             top: 60px;
    //             transform: translate(0);
    //         }
    //     }
    // }

    @media (orientation: portrait) {
        height: calc(100% - 5rem);
        top: auto; 
        bottom: 7rem;
        transform: translate(-50%, 0);
    }

    & > h2 {
        @media (orientation: portrait) {
            position: absolute;
            top: 60px;
            left: 50%;
            transform: translate(-50%, 0);
            width: 90%;
        }
    }


} 
.menu__transmission {
    display: flex;
    justify-content: space-between;
    transition: all 0s linear 2s;
    pointer-events: none;

    &.is-active {
        pointer-events: auto;
    }

    ._item {
        width: 31%;
        transform: scale(0.96);
        transition: box-shadow .2s ease-in-out,
                    transform .2s ease-in-out,
                    opacity .2s ease-in-out;

        ._gradient {
            height: 100%;
            padding: 2.75rem 3.5rem;
            position: relative;
            background: linear-gradient(to right, rgba($gr--ice-dark,1) 0%, rgba($gr--ice-light,1) 100%);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            @media (max-height: $phablet) {
                padding: 2rem;
            }

            @media (max-height: $mobile) {
                padding: 1.5rem;
            }

            &:before {
                content: '';
                z-index: -1;
                position: absolute;
                width: calc(100% + 8px);
                height: calc(100% + 8px);
                top: -4px;
                left: -4px;
                background: linear-gradient(to right, rgba($gr--blue-border-left,1) 0%, rgba($gr--blue-border-right,1) 100%);
            }
        }

        ._subtitle {
            letter-spacing: 1px;
            text-transform: uppercase;
            font-size: .8rem;
            color: $blue--dark;
            pointer-events: none;
        }

        ._title {
            font-family: $headerFont;
            color: $blue--electric;
            text-transform: uppercase;
            margin: 1.5rem 0;
            font-size: 2rem;
            line-height: 2rem;
            pointer-events: none;

            @media (max-width: $mobile) {
                font-size: 1.5rem;
                line-height: 1.5rem;
            }


            @media (max-height: $phablet) {
                margin: 0.5rem 0 1rem 0;
            }

            @media (max-height: $mobile) {
                margin: 0.5rem 0 0.5rem 0;
            }

            span {
                display: block;
                @media (max-height: $mobile) {
                    display: inline;
                }
            }
        }

        ._summary {
            margin-bottom: 1.5rem;
            font-size: .9rem;
            pointer-events: none;
            color: $blue--dark;
            @media (max-height: $phablet) {
                margin-bottom: 1rem;
            }
            @media (max-width: $mobile) {
                display: none;
            }
        }

        .button {
            &:active {
                color: $blue--electric;
            }
        }

        &:hover {
            box-shadow: 0 0 20px rgba($blue--ice, 1);
        }

        &.is-invisible {
            transform: scale(0.95);
            opacity: .25;
        }

        &.is-active {
            transform: scale(1);
        }

        &.is-visited {
            .button {
                color: $blue--electric;
                .gradient__bg {
                    background: none;
                }
                .gradient__line {
                    opacity: 1;
                }
                &:hover {
                    color: $white;
                }
            }
        }
    }
}

.TransmissionMenu {
    &.is-mobile {

        .-resp {
            .menu__transmission {
                @media (orientation: portrait) {
                    position: absolute;
                    height: 0;
                    bottom: 0;
                    transform: translate(0);
                }

                ._item  {
                    @media (orientation: portrait) {
                        bottom: 0;
                        top: auto;
                        height: 50vh;
                        max-height: 275px;
                        &.is-active {
                            transform: translate(-50%, 0);
                        }
                        &.is-left {
                            transform: translate(-150%, 0) scale(0.9);
                        }
                        &.is-right {
                            transform: translate(50%, 0) scale(0.9);
                        }
                    }

                    @media (orientation: portrait) and (max-width: 420px) {
                        height: auto;
                    }
                }
            }
        }

        .menu__transmission {
            width: 100%;
            height: 50vh;
            position: relative;
        }
        ._item {
            position: absolute;
            width: 75%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &.is-left {
                transform: translate(-150%, -50%) scale(0.9);
                opacity: .25;
            }

            &.is-right {
                transform: translate(50%, -50%) scale(0.9);
                opacity: .25;
            }

            &.is-active {
                transform: translate(-50%, -50%);
                z-index: 1;
            }

        }

        .buttons {
            position: absolute;
            bottom: 1rem;
            // left: 1rem;
            // width: calc(100% - 3rem);
            // justify-content: flex-start;
        }

    }
}