@font-face {
  font-family: 'font regular';
  src: url('/assets/fonts/Regular-Regular.woff2') format('woff2'),
       url('/assets/fonts/Regular-Regular.woff') format('woff');   
}

@font-face {
  font-family: 'font bold';
  src: url('/assets/fonts/Regular-Bold.woff2') format('woff2'),
       url('/assets/fonts/Regular-Bold.woff') format('woff');   
}