doctype html
html(lang="en")
	head
		title Government Scheme | Trussle
		meta(name="description" content="")
		
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		
		meta(property="og:title" content="Government Schemes | Trussle")
		meta(property="og:type" content="website")
		meta(property="og:url" content="")
		meta(property="og:image" content="")
		meta(property="og:site_name" content="")
		meta(property="og:description" content="")
		
		link(href='/assets/css/style.css', rel='stylesheet')
	
	body
		#wrapper.is-frozen
			main.is-scaled
				
				#background
					img(src="/assets/img/clouds.svg" alt="Trussle Government Schemes")
					img(src="/assets/img/clouds.svg" alt="Trussle Government Schemes")
				
				#image
					img(src="/assets/img/intro/sky.svg" alt="Trussle Government Schemes")
					img(src="/assets/img/intro/landscape.svg" alt="Trussle Government Schemes")
					img(src="/assets/img/intro/house-1.svg" alt="Trussle Government Schemes")
					img(src="/assets/img/intro/house-2.svg" alt="Trussle Government Schemes")
					img(src="/assets/img/intro/house-3.svg" alt="Trussle Government Schemes")
					img(src="/assets/img/intro/house-4.svg" alt="Trussle Government Schemes")
				
				include partials/_header
				include partials/_intro
				
				#questions
					#progress
						include ../img/progress.svg
					#app
					//- #reset Reset
				

				#shapes
					img(src="/assets/img/shape.svg" alt="Trussle Government Schemes")
					img(src="/assets/img/shape.svg" alt="Trussle Government Schemes")

			script(src="/assets/js/homepage.js")